# CI/Git Directories
.git
.cache
.buildkite
.github
coverage.txt
Dockerfile*

# Node Modules Directories
**/node_modules

# Documentation
docs
examples

# Dot Files and Markdown
.*
*.md

# Other
internal/server/public_html
authelia.service
bootstrap.sh