root = true

[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[.buildkite/hooks/**]
indent_style = space
indent_size = 2

[*.{sh,yml,yaml}]
indent_style = space
indent_size = 2

[web/**]
indent_style = space

[{web/package.json,web/pnpm-lock.yaml}]
indent_size = 2
