root = true

[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{html,sh,yml,yaml}]
indent_style = space
indent_size = 2

[*.{js,sql,ts.tmpl}]
indent_style = space

[.buildkite/hooks/**]
indent_style = space
indent_size = 2

[internal/suites/example/compose/nginx/*/*.conf]
charset                     = UTF-8
indent_style                = space

[{internal/templates/src/,web/}{package.json,pnpm-lock.yaml}]
indent_style = space
indent_size = 2

[web/**]
indent_style = space

