
.nyc_output
.vscode
coverage
doc
example
images
node_modules
src
test
scripts

*.tgz
.travis.yml
/config.yml
/config.test.yml
CONTRIBUTORS.md
Dockerfile
docker-compose.*
npm-debug.log*
README.md
tsconfig.json
tslint.json
