[Unit]
Description=Authelia authentication and authorization server
Documentation=https://www.authelia.com
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=authelia
Group=authelia
UMask=0027
Environment=AUTHELIA_SERVER_DISABLE_HEALTHCHECK=true
EnvironmentFile=-/etc/authelia/authelia.env
ExecStart=/usr/bin/authelia --config /etc/authelia/configuration.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
SyslogIdentifier=authelia

StateDirectory=authelia
StateDirectoryMode=0700
LogsDirectory=authelia
LogsDirectoryMode=0750
RuntimeDirectory=authelia
RuntimeDirectoryMode=0750
WorkingDirectory=/var/lib/authelia

CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
