/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import Bootstrap Icons */
$bootstrap-icons-font-file: "./fonts/bootstrap-icons";

/* stylelint-disable-next-line scss/at-import-partial-extension */
@import "bootstrap-icons/font/bootstrap-icons.scss";

/** Import highlight.js */
@import "highlight.js/scss/github-dark-dimmed";

/** Import KaTeX */
@import "katex/dist/katex";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "common/dark";
@import "components/alerts";
@import "components/buttons";
@import "components/code";
@import "components/details";
@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/mermaid";
@import "components/search";
@import "components/tables";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";
@import "custom";
