.text-orange {
  --bs-text-opacity: 1;

  color: $orange;
}

.icon-support-full {
  @extend .bi;
  @extend .bi-check-circle-fill;
  @extend .text-success;
}

[data-dark-mode] .icon-support-full {
  @extend .bi;
  @extend .bi-check-circle;
  @extend .text-success;
}

.icon-support-unknown {
  @extend .bi;
  @extend .bi-dash-circle-fill;
  @extend .text-warning;
}

[data-dark-mode] .icon-support-unknown {
  @extend .bi;
  @extend .bi-dash-circle;
  @extend .text-warning;
}

.icon-support-partial {
  @extend .bi;
  @extend .bi-exclamation-circle-fill;
  @extend .text-orange;
}

[data-dark-mode] .icon-support-partial {
  @extend .bi;
  @extend .bi-exclamation-circle;
  @extend .text-orange;
}

.icon-support-none {
  @extend .bi;
  @extend .bi-x-circle-fill;
  @extend .text-danger;
}

[data-dark-mode] .icon-support-none {
  @extend .bi;
  @extend .bi-x-circle;
  @extend .text-danger;
}

body code span.line.hl {
  background: $orange;
  display: block;
  width: 100%;
}

[data-dark-mode] body code span.line.hl {
  background: $orange;
  display: block;
  width: 100%;
}
