extends layout/layout.pug 

block variables
  - page_classname = "u2f-register";

block form-header
  h1 Register your security key

block content
  p Touch the token to register your security key.
  img(src="/img/pendrive.png" alt="pendrive")
  script(src="/js/u2f-api.js", type="text/javascript")