.totp-register #secret {
  background-color: white;
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #c7c7c7;
  word-wrap: break-word;
}
.totp-register #qrcode img {
  margin: 10px auto;
}
.totp-register .need-google-authenticator {
  text-align: center;
  margin-top: 20px;
}
.totp-register .store-badges {
  margin-top: 5px;
}
.totp-register .store-badge {
  width: 110px;
  height: 30px;
}