extends layout/layout.pug 

block variables
  - page_classname = "password-reset-request";

block form-header
  h1 Reset password

block content
  div(class="notification")
  div
    img(class="header-img" src="/img/password_white.png" alt="password")
    p After giving your username, you will receive an email to change your password.
  form(class="form-signin")
    div(class="form-inputs")
      input(type="text" class="form-control" name="username" id="username" placeholder="Your username" required="required")
    button(id="reset-password-button" class="btn btn-lg btn-primary btn-block" type="submit") Reset Password
    span(class="clearfix")
