.label.label-config {
    text-transform: none;
}
.tbl-header {
    font-weight: bold;
    text-align: center;
}
.tbl-beta-stage {
    border-bottom-width: 3px !important;
}
.material-icons.green {
    color: #56D364;
}
.material-icons.red {
    color: #F85149;
}
.material-icons.orange {
    color: #E3B341;
}