extends layout/layout.pug 

block form-header
  <h1>Sign in</h1>
  <img class="header-img" src="/img/success.png" alt="">

block content
    <p>You are already logged in as <b>#{ username }</b>.<br/><br/>
    | If you are not redirected in few seconds, click <a href="#{ redirection_url }">here</a>.<br/><br/>
    | Otherwise, click <a href="#{ logout_endpoint }">here</a> to log off.<p>
