extends layout/layout.pug 

block variables
  - page_classname = "password-reset-form";

block form-header
  h1 Reset password

block content
  div(class="notification")
  img(class="header-img" src="/img/password.png" alt="password")
  p Set your new password and confirm it.
  form(class="form-signin")
    div(class="form-inputs")
      input(class="form-control" type="password" name="password1" id="password1" placeholder="New password" required="required")
      input(class="form-control" type="password" name="password2" id="password2" placeholder="Password confirmation" required="required")
    button(id="reset-password-button" class="btn btn-lg btn-primary btn-block" type="submit") Reset Password
    span(class="clearfix")
