extends layout/layout.pug 

block variables
  - page_classname = "totp-register";

block form-header
  h1 One-time passwords

block content
  p Open Google Authenticator and add this entry
  p(id="secret") #{ base32_secret }
  p or scan this barcode
  div(id="qrcode") #{ otpauth_url }
  p
    a(href=login_endpoint, id="login-button") Login
  div(class="need-google-authenticator")
    | Need Google Authenticator?
    div(class="store-badges")
      a(href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1', target="_blank")
        img(alt='Get it on Google Play', src='/img/stores/googleplay-badge.svg', class="store-badge")
      a(href='https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8', target="_blank")
        img(alt='Get it on Apple Store' src='/img/stores/applestore-badge.svg' class="store-badge")

block entrypoint
  script(src="/js/qrcode.min.js")
