
.mainContent {
  width: 440px;
  margin: 0 auto;
  padding: 1.5em 3em 3em 3em;
}

/* HEADER */

.header {
  margin-bottom: 2em;
  text-align: center;
}

/* FRAME */

.frame {
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  background-color: white;
  border-radius: 5px;
}

.innerFrame {
  width: 100%;
}

/* FOOTER */

.footer {
  margin-top: 1em;
  text-align: center;
  font-size: 0.75em;
  color: grey;
}

.footer img {
  width: 64px;
  margin: 20px;
}

.footer a {
  color: grey;
}