extends layout/layout.pug

block variables
  - page_classname = "identity-validation";

block form-header
  h1 Registration

block content
  img(class="header-img" src="/img/mail.png" alt="mail")
  p A confirmation email has been sent to your mailbox. 
    | Please open it and click on the link within 15 minutes to confirm the registration.
