<!DOCTYPE html>
  <head>
    <title>Login</title>
    <% include head %>
  </head>
  <body>
    <div id="first-factor" class="login">
      <h1>Login</h1>
      <div id="login-form">
        <input type="text" name="username" id="username" placeholder="Username" required="required" />
        <input type="password" name="password" id="password" placeholder="Password" required="required" />
        <button type="button" id="login-button" class="btn btn-primary btn-block btn-large">Enter</button>
        <button type="button" id="reset-password-button" class="btn btn-primary btn-block btn-large">Reset password</button>
      </div>
    </div>

    <div id="second-factor" class="login" style="display: none;">
      <h1>Second factor</h1>
      <div id="totp">
        <h2>Time-Based One-Time Password</h2>
        <input type="text" name="totp-token" id="totp-token" placeholder="Validation token" />
        <button type="button" id="totp-sign-button" class="btn btn-primary btn-block btn-large">Sign</button>
      </div>
      <div id="u2f">
        <h2>FIDO Universal 2nd Factor</h2>
        <button type="button" id="u2f-sign-button" class="btn btn-primary btn-block btn-large">Sign</button>
        <button type="button" id="u2f-register-button" class="btn btn-primary btn-block btn-large">Register</button>
      </div>
    </div>
  </body>
  <% include scripts %>
  <script src="js/u2f-api.js"></script>
  <script src="js/login.js"></script>
</html>
