<!DOCTYPE html>
  <head>
    <title>Reset Password</title>
    <% include head %>
  </head>
  <body>
    <div id="reset-password" class="login">
      <h1>Reset your password</h1>
      <p>What's your username? You will receive an email to change your password</p>
      <div id="reset-password-form">
        <input type="text" name="username" id="username" placeholder="Your username" required="required" />
        <button type="button" id="reset-password-button" class="btn btn-primary btn-block btn-large">Reset Password</button>
      </div>
    </div>
  </body>
  <% include scripts %>
  <script src="js/reset-password-form.js"></script>
</html>
