<!DOCTYPE html>
  <head>
    <title>TOTP Registration</title>
    <% include head %>
  </head>
  <body>
    <div class="totp">
      <h1>TOTP Secret</h1>
      <p>Insert your secret in Google Authenticator</p>
      <p id="secret"></p>
      <div id="qrcode"></div>
      <p><a href="#" id="login-button">Login</a></p>
    </div>
  </body>

  <% include scripts %>
  <script src="js/qrcode.min.js"></script>
  <script src="js/totp-register.js"></script>
</html>
