<!DOCTYPE html>
  <head>
    <title>FIDO U2F Registration</title>
    <link rel="stylesheet" type="text/css" href="login.css">
  </head>
  <body>
    <div class="login">
      <h1>Touch the token</h1>
      <img src="img/pendrive.png" alt="pendrive" />
    </div>
  </body>

  <script src="jquery.min.js"></script>
  <script src="notify.min.js"></script>
  <script src="u2f-api.js"></script>
  <script src="u2f-register.js"></script>
</html>
