body {
  background-color:#000000;
}
canvas{
  position:absolute;
  top:0;
  left:0;
}
.authelia-brand {
  font-weight: bold;
  font-style: italic;
  color: #ffffff
}
.poweredby-block {
  margin: 0px 30px;
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);

}
.poweredby {
  font-size: 0.7em;
  color: white;
  text-align: center;
}
/* notifications */
.notification {
  padding: 10px;
  margin: 15px 0px;
  border-radius: 6px;
  display: none;
  position: absolute;
}
.notification img {
  width: 24px;
  margin-right: 10px;
}
.notification i,
.notification span {
  display:table-cell;
  vertical-align:middle;
}
.info {
  border: 1px solid #9cb1ff;
  background-color: rgb(192, 220, 255);
}
.success {
  border: 1px solid #65ec7c;
  background-color: rgb(163, 255, 157);
}
.error {
  border: 1px solid #ffa3a3;
  background-color: rgb(255, 175, 175);
}
.warning {
  border: 1px solid #ffd743;
  background-color: rgb(255, 230, 143);
}
.bottom-right-links {
  text-align: right;
  margin-top: 10px;
  font-size: 0.8em;
  color: white;
}
.header {
  background-color: #000000;
  color: white;
  margin: 0px;
}
.body {
  padding: 10px;
}
h1 {
  font-size: 25px;
}
