---
services:
  envoy:
    image: envoyproxy/envoy:v1.36.0
    volumes:
      - ./example/compose/envoy/envoy.yaml:/etc/envoy/envoy.yaml
      - ./common/pki:/pki
    ports:
      - 9901:9901
    networks:
      authelianet:
        ipv4_address: 192.168.240.100
...
