extends layout/layout.pug

block form-header
  <h1>Registration</h1>
  <img class="header-img" src="/img/mail.png" alt="">

block content
    <p>A confirmation email has been sent to your mailbox. Please open it and click on the link within 15 minutes to confirm the registration.</p>
