extends layout/layout.pug 

block variables
  - page_classname = "password-reset-form";

block form-header
  <h1>Reset password</h1>
  <img class="header-img" src="/img/password.png" alt="">
  <p>Set your new password and confirm it.</p>

block content
  <form class="form-signin">
    <div class="form-inputs">
      <input class="form-control" type="password" name="password1" id="password1" placeholder="New password" required="required" />
      <input class="form-control" type="password" name="password2" id="password2" placeholder="Password confirmation" required="required" />
    </div>
    <button id="reset-password-button" class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    <span class="clearfix"></span>
  </form>

block entrypoint
    <script>authelia.reset_password_form();</script>
