extends layout/layout.pug 

block variables
  - page_classname = "password-reset-request";

block form-header
  <h1>Reset password</h1>
  <img class="header-img" src="/img/password.png" alt="">
  <p>After giving your username, you will receive an email to change your password.</p>

block content
  <form class="form-signin">
    <div class="form-inputs">
      <input type="text" class="form-control" name="username" id="username" placeholder="Your username" required="required" />
    </div>
    <button id="reset-password-button" class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    <span class="clearfix"></span>
  </form>

block entrypoint
    <script>authelia.reset_password_request();</script>

