---
title: "ADR{{ .ADR }}: {{ .Title }}"
description: "An official Architecture Decision Record"
date: {{ .Date }}
weight: {{ .Weight }}
toc: true
seo:
  title: "" # custom title (optional)
  description: "" # custom description (recommended)
  canonical: "" # custom canonical URL (optional)
  noindex: false # false (default) or true
---

Date: {{ .DateHuman }}

## Status

{{ .Status }}

## Context

{{ .Context }}

## Decision

{{ .Decision }}

## Consequences

{{ .Consequences }}
