
.mainContent {
  width: 440px;
  margin: 0 auto;
  padding: 50px 0px;
}

/* FRAME */

.frame {
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  background-color: white;
  border-radius: 5px;
  padding: 30px 40px;
}

.innerFrame {
  width: 100%;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 20px;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 5px;
}

/* FOOTER */

.footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.65em;
  color: grey;
}

.footer a {
  color: grey;
}