.form-signin
{
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}

.form-signin .checkbox
{
    font-weight: normal;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    /* margin-bottom: 10px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    border: 1px solid #DDD;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.account-wall h1
{
    color: #555;
    margin-bottom: 30px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.account-wall p 
{
    text-align: center;
    margin: 10px 10px;
    margin-top: 30px;
    font-size: 1.3em;
}
.account-wall .form-inputs 
{
    margin-bottom: 10px;
}
.account-wall hr {
    border-color: #c5c5c5;
}

.header-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.link
{
    margin-top: 10px;
}

.btn-primary.totp
{
    background-color: rgb(102, 135, 162);
}

.btn-primary.u2f
{
    background-color: rgb(83, 149, 204);
}