<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
<div class="login">
    <h1>Login</h1>
    <form method="POST">
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <input type="text" name="token" placeholder="Verification token" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Enter</button>
    </form>
    <br>
</div>
</body>
</html>
