@import '../../variables.scss';
@import "@material/theme/mdc-theme";

.mainContent {
  width: 440px;
  margin: auto;
  margin-top: 80px;
  color: var(--mdc-theme-text);
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
  padding-bottom: ($theme-spacing);
  color: ($mdc-theme-text);
}

.frame {
  box-shadow:
    rgba(0,0,0,0.14902) 0px 1px 1px 0px,
    rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  background-color: var(--mdc-theme-secondary);
  border-radius: 5px;
  padding: 40px;
  border-top: 6px solid ($mdc-theme-topborder);
  color: var(--mdc-theme-text);
}

.innerFrame {
  width: 100%;
  background-color: var(--mdc-theme-secondary);
  @if $theme-used == theme_blackonwhite {
  color: ($mdc-theme-textfield);
  } @else {
    color: var(--mdc-theme-text);
  }
}

.footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.65em;
  color: ($mdc-theme-link);
  a {
     color: ($mdc-theme-link);
  }
  a:visited {
    color: ($mdc-theme-link);
  }
}