extends ../layout/layout.pug

block variables
  - page_classname = "error-403";

block form-header
  h1 Error 403

block content
  img(class="header-img" src="/img/warning.png" alt="warning")
  if redirection_url
    p You don't have enough privileges to access this resource.<br/><br/>
      | Please click <a href=#{redirection_url}>here</a> if you are not 
      | redirected in few seconds.
  else
    p You don't have enough privileges to access this resource.
